<div class"layout_wrapper">
	<button type="flat" id="call_headline" class="layout_stack">
		<span id="call_status">HAHA</span> to <span class="call_contact">HAHAHA</span>
	</button>
	<div id="call_screen" class="layout_stack">

		<video width="100%" height="100%" style="display:none;">
		  <source src="http://www.w3schools.com/html/movie.ogg" type="video/ogg">
		  <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
		  <object data="http://www.w3schools.com/html/movie.mp4" width="100%" height="100%">
		    <embed width="100%" height="100%" src="movie.swf">
		  </object>
		</video>

	</div>
	<div id="call_setting" class="layout_stack">
		<div>
			<span class="lbl_setting">Screen share </span><img id="btn_screen_share" class="toggle_button" /><br />
			<span class="screen_share_tips_wrapper">
				<span class="call_contact"></span> <span id="txt_screen_share">CANNOT</span> see your screen
			</span>
			<br />
			<span class="lbl_setting">Microphone </span><img id="btn_microphone" class="toggle_button" /><br />
			<span class="screen_share_tips_wrapper">
				<span class="call_contact"></span> <span id="txt_microphone">CANNOT</span> hear your voice
			</span>
		</div>
		<div>
		</div>
	</div>
	<button id="call_bottom" class="layout_stack">End Call</button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script type="text/javascript">
    $.extend({
        getUrlVars : function() {
            var vars = [], hash;
            var hashes = window.location.href.slice(
                window.location.href.indexOf('?') + 1).split('&');
            for ( var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        getUrlVar : function(name) {
            return $.getUrlVars()[name];
        }
    });

    $(document).ready(function(){
    	var call_contact;

        if ($.getUrlVar('name')) {
            call_contact = $.getUrlVar('name');
        } else {
            call_contact = 'Jane';
        }

        updateContact(call_contact);
        updateCallStatus(false);


        setTimeout(function(){
        	updateCallStatus(true);
        },5000);
    });

    $(".toggle_button").click(function(e){
    	var target = e.toElement;
    	var isTuringOff = $(target).hasClass('toggle_button_on');
		//var target = $('.'+button_id);
		if(isTuringOff){
			$(target).removeClass('toggle_button_on');
		}else{
			$(target).addClass('toggle_button_on');
		}

		if(target.id=='btn_screen_share'){
			$('#txt_screen_share').text(isTuringOff ? 'CANNOT' : 'CAN');
		}else{
			$('#txt_microphone').text(isTuringOff ? 'CANNOT' : 'CAN');
		}
    });

    $("#call_bottom").click(function(e){
    	location.href="/d/contacts";
    });

    var updateContact = function(name, photo){
    	$(".call_contact").text(name);
    }

    var updateCallStatus = function(isConnected){
    	if(isConnected){
    		$("#call_headline").removeClass('call_headline_calling');
    		$("#call_headline").addClass('call_headline_connected');
    		$("#call_status").text('Connected');
    		$("video").show();
    		$("video")[0].play();
    	}else{
    		$("#call_headline").addClass('call_headline_calling');
    		$("#call_headline").removeClass('call_headline_connected');
    		$("#call_status").text('Connecting');
    	}
    };

</script>