<div class='menu contacts'>
  <h1>Who do you want to ask for help?</h1>
  <!-- TODO: Query database for contacts -->
  <button class='contact'>
    <img src='/images/woman.png'/><br/>Jane
  </button> 
  <button class='contact'>
    <img src='/images/bill.jpg'/><br/>Bill
  </button>
  <button class='contact'>
    <img src='/images/man.png'/>Helix
  </button>
</div>

<script type="text/javascript">
  $(function(){
    $('button').click(function(e){
      location.href="/d/call?name="+$(this).text().trim();
    });
  });
</script>