<html>
<head>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/menus.css" />

</head>
<body>
<div class='menu contacts'>
<h1>Who do you want to ask for help?</h1>
<button><img width=50 src='/css/images/woman.png'/><br/>
Jane</button> 
<button><img height=61 src='/css/images/bill.jpg'/><br/>
Bill</button>
<br/>
<br/>
<button><img width=50 src='/css/images/man.png'/>
Helix</button>
<div>
</body>
</html>