<div id='main_menu' class='menu'>
    <h1>Do you want to</h1>
    <button id='btn-phone'>
        <img width=100 src='/images/phone.png'/><br/>
        Call for help?
    </button>
    <button id='btn-notes'>
        <img width=100 src='/images/previous_calls.png'/><br/>
        See notes from your previous calls?
    </button>
<div>

<script type="text/javascript" src="/js/main_menu.js"></script>
