<html>
<head>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='menu mainmenu'>
<h1>Do you want to</h1>
<button><img width=100 src='/css/images/phone.png'/><br/>
Call for help? </button><p/>
<button><img width=100 src='/css/images/previous_calls.png'/><br/>
See previous solutions? </button>

<div>
</body>
</html>