<div class="notes-answer">
  <h3>How do I save photos sent to my Yahoo email account?</h3>
  <ol>
    <li>Open the email by clicking on it.</li>
    
    <li>Click on the photo you want to save.</li>
    
    <li>Click the arrow pointing downwards that looks like <img src="/images/notes/email/q3/down-arrow.png"/>.</li>
    
    <li>In the dialog that pops up, select the "Download to Computer" option.</li>
    
    <li>The photo is now saved in your "Downloads" folder.</li>
  </ol>
</div>
