<html>
  <head>
    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
  </head>
  
  <body id="body-notes-email">
    <h1>Notes About Email</h1>
    <div id="div-email-questions" class="notes-questions">
      <a href="/d/notes_email_q3">How do I save photos sent to my Yahoo email account?</a>
      <a href="/d/notes_email_q2">How do I send an email to my entire family?</a>
      <a href="/d/notes_email_q1">What do I do if I forget my GMail password?</a>
      <a href="/d/notes_email_q0">How do I undo deleting an email?</a>
    </div>
  </body>
</html>