<div id='div-notes-categories' class='menu notesmenu'>
<h1>What do you need help with?</h1>
<button id='btn-email'><img width=50 src='/images/mail.png'/><br/>
EMAIL</button> 
<button id='btn-news'><img height=50 src='/images/news.png'/><br/>
NEWS</button>
<br/>
<br/>
<button id='btn-music-video'><img width=50 src='/images/music_video.png'/>
MUSIC/ VIDEO</button>
<button id='btn-games'><img height=50 src='/images/games.png'/><br/>
GAMES</button>
<div>

<script type="text/javascript" src="/js/notes.js"></script>

