<html>
  <head>
  </head>

  <body>
    <div class="notes-answer">
      <h3>How do I undo deleting an email?</h3>
      <ol>
        <li>
          If deleting the email was the most recent action you performed, press Ctrl-Z.
        </li>
        
        <li>
          If you did some other actions after deleting the email, click on the 
          "Trash" folder.  If you are using GMail, you might have to click "More" before 
          the Trash folder will show up.
        </li>
        
        <li>
          Select the email whose deletion you want to remove by clicking the checkbox to its left, then
          right click and choose which folder to move it back into.
        </li>
      </ol>
    </div>
  </body>
</html>