<html>
<head>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/menus.css" />

</head>
<body>
<div class='menu notesmenu'>
<h1>What do you need help with?</h1>
<button><img width=50 src='css/images/mail.png'/><br/>
EMAIL</button> 
<button><img height=50 src='css/images/news.png'/><br/>
NEWS</button>
<br/>
<br/>
<button><img width=50 src='css/images/music_video.png'/>
MUSIC/VIDEO</button>
<button><img height=50 src='css/images/games.png'/><br/>
GAMES</button>
<div>
</body>
</html>