<div class="notes-answer">
  <h3>What do I do if I forget my GMail password?</h3>
  <ol>
    <li>
      On the GMail signin page, click link to the bottom right of the "Sign in" button
      that reads "Need help?".
    </li>
    
    <li>Click on the "I don't know my password" option</li>
    
    <li>
      Type your GMail email address into the text box that appears, then click "Continue".
    </li>
    
    <li>
      Follow the instructions that appear on the screen to recover your password.
    </li>
  </ol>
</div>
