<html>
  <head>
  </head>

  <body>
    <div class="notes-answer">
      <h3>How do I send an email to my entire family?</h3>
      <ol>
        <li>
          In the text box labeled "To:" type in the each of the email addresses of
          your family members, separating each email address by a comma.
        </li>
        
        <li>Compose the rest of the email as you compose any other email.</li>
        
        <li>
          Send the email.  Each of the email addresses listed in the "To:" text box will
          receive a copy of the email.
        </li>
      </ol>
    </div>
  </body>
</html>