<!-- We have to escape all single quotes in this file. Sorry :( -->

<div id="quokka_dialog" title="Quokka">
  <div id="quokka_content">
    <p>Initial dialog content (you should not see this)</p>
    <div>Hello, World! </div>
  </div>
</div>
