<!-- We have to escape all single quotes in this file. Sorry :( -->

<div id="quokka_dialog" title="Quokka">
<<<<<<< HEAD
  <div id="quokka_content">
    <p>Initial dialog content (you should not see this)</p>
    <div>Hello, World! </div>
  </div>
=======
  <iframe id="quokka_frame" src="<%= request.base_url %>/d/home"></iframe>
>>>>>>> e11fd2760235245efce11ad65b1425cc3ded2e57
</div>
