<!-- We have to escape all single quotes in this file. Sorry :( -->

<div id="quokka_dialog" title="Quokka">
  <div id="quokka_content">
    <p>Initial dialog content (should overwrite)</p>
  </div>
</div>
