<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="<%= request.base_url %>/css/quokka.css?body=1">
  </head>
  <body>
    <div id="quokka_content">
      <%= yield %>
    </div>
  </body>
</html
