* {
	box-sizing: border-box;
}

html {
  font-size: 100%;
  width: 100%;
  font-family: 'PT Sans', Helvetica, sans-serif
}

body{
  margin: 0;
  padding: 10px;
	font-family: 'PT Sans';
}

h1 {
	text-align: center;
}

#quokka_content {
  width: 100%;
}


.layout_wrapper {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
  	display: flex;
  	flex-flow: row wrap;
}

.layout_stack {
	background-color: green;
	padding: 1px solid #fbfbfc;
	display:block;
	width: 100%;
	flex: 1 100%;
	border-style:none;
}

#call_headline{
	top: 0px;
	height: 10%;
	text-align: center;
	vertical-align: middle;
}


.call_headline_connected{
	background-color: #dff0d8;
	color: #468847;
}

.call_headline_calling{
	background-color: #fcf8e3;
	color: #c09853;
}

#call_screen{
	height: 50%;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#call_setting{
	height: 30%;
	bottom: 30%;
	background-color: rgb(236, 236, 240);
	border: 1px solid #e1e1e8;
}

#call_bottom{
	bottom: 0px;
	height: 10%;
	text-align: center;
	vertical-align: middle;
	background-image: linear-gradient(rgb(238, 95, 91), rgb(189, 54, 47));
	line-height: 20px;
	color: white;
	cursor: pointer;
}

.toggle_button{
	cursor: pointer;
	content:url('/images/off_icon.png');
	vertical-align: middle;
}

.toggle_button_on{
	content:url('/images/on_icon.png');
}

video{
	text-align: center;
}

.lbl_setting{
	display: inline-block;
	width: 100px;
}
.menu{
	margin: 0;
  text-align: center;
}

#quokka .menu button.ui-widget{
	font-size: 10pt;
}

.mainmenu button{
	width: 150px;
}

h1{
  font-size: 1.4em;
}

.contacts button{
	width: 90px;
height: 90px;
text-align: center;
}

.notesmenu button{
	width: 40%;
  height: 120px;
  text-align: center;
  font-size: 9pt;
}

div#div-email-questions.notes-questions a{
  display: block;
  margin: 20px 0;
}

.notes-answer li {
  margin: 20px 0;
}

#div-offline-msg p img {
  height: 1em;
  width: 1em;
}

#div-offline-msg textarea {
  width: 100%;
  min-height: 150px;
  font-family: "PT Sans";
  font-size: 1em;
}

#div-offline-msg button {
  float: right;
  margin-top: 10px;
}

#div-offline-msg-confirm div{
  margin-top: 10px;
  text-align: center;
}

