html {
  width: 100%;
  font-family: 'PT Sans', Helvetica, sans-serif
}

body{
  margin: 0;
	font-family: 'PT Sans';
	text-align: center;
}

#quokka_content {
  width: 100%;
}

.menu{
	margin: 0;
}

.menu button{
	font-size: 14pt;
}

.mainmenu button{
	width: 150px;
}

.contacts button{
	width: 90px;
height: 90px;
text-align: center;
}

.notesmenu button{
	width: 90px;
height: 90px;
text-align: center;
font-size: 9pt;
}
