<div id="div-offline-msg-confirm">
  Your message has been sent!  The extension icon
  will be highlighted as soon as a response is received.
  
  <div>
    <button id="btn-ok">Ok</button>
  </div>
</div>

<script type="text/javascript" src="/js/offline-msg-confirm.js"></script>