<div id='div-offline-msg'>
  <p>
    None of the helpers you know are online right now.  
    Please describe your problem below and click the "Send" button.
    When you recieve a reply, the <img src='/images/extension-icon.png' alt='extension icon'/>
    extension icon will be highlighted, and you will be able to 
    click on the icon to see the response.
  </p>
  
  <textarea id='textarea-offline-msg'></textarea>
  
  <button id='btn-send'>Send</button>
</div>

<script type="text/javascript" src="/js/offline-msg.js"></script>